[user]
	name = toshi-toma
	email = toshitoma1217@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[alias]
	st = status
	br = branch
	co = commit -m
	ch = checkout
	pu = push
	pl = pull
